.errorMessage {
    background: #7f00ff;
    color: white;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 40px;
  }
  .errorMessageButton {
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    border: 2px solid white;
    background-color: #7f00ff;
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  